:root {
  --color_01: #fff;
  --color_02: #f00;
  --color_03: #070211;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'open sans', serif;
}


.header {
  width: 1320px;
  height: 600px;
  background-image: linear-gradient(
      to left,
      rgba(47, 47, 49, 0.7),
      rgba(10, 10, 10, 0.85)
    ),
    url("../resources/rsz_17267217.png");
  background-repeat: no-repeat;
  margin: 50px auto;
  border-radius: 40px;
  font-family: 'Merriweather', serif;
}

.head-text {
  width: 1320px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: var(--color_01);
  & #title_01 {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
  }
  & #title_02 {
    width: 632px;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    line-height: 95px;
  }
}

.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & h1 {
    font-size: 88px;
    font-weight: 700;
    color: var(--color_02);
  }
  & h6 {
    font-size: 24px;
    font-weight: 400;
    color: var(--color_02);
  }
  & h3 {
    font-size: 48px;
    font-weight: 700;
    color: var(--color_03);
  }
}

.section2 {
  width: 1320px;
  height: 600px;
  background-image: linear-gradient(
      to left,
      rgba(47, 47, 49, 0.45),
      rgba(10, 10, 10, 0.85)
    ),
    url("../resources/rsz_banner_1.png");
  background-repeat: no-repeat;
  margin: 50px auto;
  color: var(--color_01);
  display: flex;
  gap: 55px;
  padding: 100px;
  border-radius: 40px;
}

.party_title {
  width: 642px;
  color: var(--color_01);
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}

.party_description {
  color: var(--color_01);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 30px;
}

.join-txt {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  color: var(--color_01);
  cursor: pointer;
  text-indent: 80px;
}

.section3 {
  width: 1320px;
  height: 600px;
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.45),
    rgba(204, 123, 123, 0.247)
  );
  border-radius: 40px;
  margin: 120px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & #text {
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
  }
}

.join-btn {
  width: 160px;
  height: 60px;
  background-color: var(--color_02);
  color: var(--color_01);
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  margin-top: 48px;
}

.section4 {
  width: 1320px;
  height: 400px;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 120px auto;
  & #text-01-section-4 {
    font-size: 24px;
    font-weight: 500;
    color: var(--color_02);
  }
  & #text-02-section-4 {
    font-size: 48px;
    font-weight: 900;
    color: var(--color_03);
  }
  & #text-03-section-4 {
    font-size: 20px;
    font-weight: 400;
    color: var(--color_03);
    opacity: 60%;
  }
  & #text-05-section-4 {
    font-size: 48px;
    font-weight: 700;
    color: var(--color_02);
    text-align: center;
  }
  & #text-06-section-5 {
    font-size: 20px;
    font-weight: 400;
    color: var(--color_03);
    margin-top: 15px;
  }
}

.middle-img-sec-4 {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  outline: 5px ridge var(--color_02);
  padding: 10px;
}

.right-img-sec-4 {
  margin-top: 48px;
}

.section5 {
  display: flex;
  flex-direction: column;
  width: 1320px;
  height: 1100px;
  margin: 0px auto;
  margin-top: 120px;
  & .part-01-section-5 {
    font-size: 24px;
    font-weight: 500;
    color: var(--color_02);
    margin-bottom: 10px;
  }
  & .part-02-section-5 {
    font-size: 48px;
    font-weight: 900;
    color: var(--color_03);
    margin-bottom: 15px;
  }
  & .part-03-section-5 {
    width: 70%;
    font-size: 20px;
    font-weight: 400;
    color: var(--color_03);
    margin-bottom: 30px;
  }

  & .part-04-section-5 {
    display: grid;
    grid-template-columns: repeat(3, 430px);
    grid-template-rows: repeat(3, 430px);
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  & .part-04-section-5 img {
    width: 400px;
    height: 400px;
    transition: 1s;
  }

  & .part-04-section-5 img:hover {
    width: 420px;
    height: 420px;
    opacity: 0.6;
  }
}

.section6 {
  width: 1320px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.05);
  margin: 0px auto;
  margin-top: 120px;
  border-radius: 40px;
  & .part-02-section-6 {
    font-size: 48px;
    font-weight: 900;
    margin-top: 40px;
    color: var(--color_03);
  }
  & .part-03-section-6 {
    width: 896px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: var(--color_03);
    opacity: 0.6;
    margin-top: 22px;
    text-align: center;
  }
}

.part-04-section-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

.e-mail {
  
  width: 438px;
  height: 62px;
  padding: 20px;
  border-radius: 50px 0 0 50px;
  border: none;
  font-size: 18px;
  font-weight: 400;
  outline: none;
}

.Subscribe-btn {
  width: 180px;
  height: 62px;
  padding: 20px;
  border-radius: 0 50px 50px 0;
  background-color: var(--color_02);
  color: var(--color_01);
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  margin-top: 120px;
  padding: 40px 80px ;
  display: flex;
  flex-direction: column;
  background-color: var(--color_03);
  color: var(--color_01);
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}

hr {
  background-color: var(--color_01);
  opacity: .15;
}

.part-01-footer {
  display: flex;
  padding: 40px;
  justify-content: space-between;
  & .location {
    width: 400px;
  }
}

.part-02-footer {
  padding: 40px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.part-03-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}